# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE-specific files
.DS_Store
Thumbs.db
*.swp

# Build outputs
dist/
build/

# Debug files
*.pid
